<div class="d-flex justify-content-between align-items-center p-3 mb-4 bg-light">
  <%= link_to flats_path, style: "text-decoration: none; color: inherit;" do %>
    <h3 class="mb-0">Simple Airbnb</h3>
  <% end %>
</div>

<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="mb-0">Update Flat</h4>
    </div>
    <div class="card-body">
      <%= simple_form_for @flat do |f| %>
        <div class="mb-3">
          <%= f.input :name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="mb-3">
          <%= f.input :address, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="mb-3">
          <%= f.input :description, label_html: { class: 'form-label' }, input_html: { class: 'form-control' }, as: :text %>
        </div>
        <div class="mb-3">
          <%= f.input :price_per_night, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="mb-3">
          <%= f.input :number_of_guests, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="mb-3">
          <%= f.input :image_url, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
        </div>

        <div class="d-flex justify-content-between">
          <%= f.submit 'Update Flat', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', flats_path, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
